<a href="https://colab.research.google.com/github/Rynnsya/Jobsheet-02-DASAR-PYTHON-VARIABEL-INPUT-OUTPUT-DAN-OPERATOR/blob/main/Rasya_Pandu_Wicaksono_Jobsheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pengenalan Variable dan Tipe Data

In [2]:
umur = 18
tinggi = 173
nama = "Rasya Pandu"
is_mahasiswa = True
nilai = 88.75
koordinat = (7, 110)
mahasiswa = {"nama": "Rasya", "umur": 18, "prodi": "Teknologi Rekayasa Komputer"}
hobi = ["musik", "coding", "jalan-jalan"]

print("Umur:", umur, "->", type(umur))
print("Tinggi:", tinggi, "->", type(tinggi))
print("Nama:", nama, "->", type(nama))
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))
print("Nilai:", nilai, "->", type(nilai))
print("Koordinat:", koordinat, "->", type(koordinat))
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))
print("Hobi:", hobi, "->", type(hobi))

Umur: 18 -> <class 'int'>
Tinggi: 173 -> <class 'int'>
Nama: Rasya Pandu -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: 88.75 -> <class 'float'>
Koordinat: (7, 110) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Rasya', 'umur': 18, 'prodi': 'Teknologi Rekayasa Komputer'} -> <class 'dict'>
Hobi: ['musik', 'coding', 'jalan-jalan'] -> <class 'list'>

Input dan Output Dasar

In [3]:

nama = input("Masukkan nama Anda: ")
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi badan (cm): "))
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Rasya
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 173
Halo, Rasya umur Anda: 18 tahun, tinggi: 173.0 cm
Halo Rasya, umur Anda 18 tahun, tinggi 173.0 cm
Halo Rasya, umur Anda 18 tahun, tinggi 173.0 cm

Operator Aritmatika

In [5]:
a = 20
b = 4
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 24
a - b = 16
a * b = 80
a / b = 5.0
a // b = 5
a % b = 0
a ** b = 160000

Operator Relasional

In [6]:
x = 20
y = 30
print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

Operator Logika dengan Studi Kasus Nyata

In [8]:
a = True
b = False
print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 80
Masukkan jumlah kehadiran: 26
Status: LULUS

Program Kasir Sederhana

In [9]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: sepatu
Masukkan harga barang: 500000
Masukkan jumlah barang: 2

===== Struk Belanja =====
Barang : sepatu
Jumlah : 2
Total : Rp 1000000.0
Diskon : 20.0%
Bayar : Rp 800000.0

Penugasan 3, Identitas Mahasiswa

In [10]:
nama = "Rasya Pandu"
umur = 18
tinggi = 170.5
status_aktif = True

print("===== Data Mahasiswa =====")
print(f"Nama          : {nama}")
print(f"Umur          : {umur} tahun")
print(f"Tinggi Badan  : {tinggi} cm")
print(f"Status Aktif  : {status_aktif}")

===== Data Mahasiswa =====
Nama          : Rasya Pandu
Umur          : 18 tahun
Tinggi Badan  : 170.5 cm
Status Aktif  : True

Penugasan 4, Operasi Aritmatika

In [13]:
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

penjumlahan = bil1 + bil2
pengurangan = bil1 - bil2
perkalian = bil1 * bil2
pembagian = bil1 / bil2
sisa_bagi = bil1 % bil2
pangkat = bil1 ** bil2

print("\n===== Hasil Perhitungan =====")
print(f"Penjumlahan   : {bil1} + {bil2} = {penjumlahan}")
print(f"Pengurangan   : {bil1} - {bil2} = {pengurangan}")
print(f"Perkalian     : {bil1} × {bil2} = {perkalian}")
print(f"Pembagian     : {bil1} ÷ {bil2} = {pembagian}")
print(f"Sisa Bagi     : {bil1} % {bil2} = {sisa_bagi}")
print(f"Perpangkatan  : {bil1} ** {bil2} = {pangkat}")

Masukkan bilangan pertama: 20
Masukkan bilangan kedua: 5

===== Hasil Perhitungan =====
Penjumlahan   : 20 + 5 = 25
Pengurangan   : 20 - 5 = 15
Perkalian     : 20 × 5 = 100
Pembagian     : 20 ÷ 5 = 4.0
Sisa Bagi     : 20 % 5 = 0
Perpangkatan  : 20 ** 5 = 3200000

Penugasan 5, Konversi Nilai

In [14]:
angka = float(input("Masukkan angka desimal: "))

print("\n===== Hasil Konversi =====")
print(f"Bilangan asli       : {angka}")
print(f"Dalam bentuk integer: {int(angka)}")
print(f"Dalam bentuk string : '{str(angka)}'")
print(f"Hasil pembulatan (2 digit): {round(angka, 2)}")

Masukkan angka desimal: 1200

===== Hasil Konversi =====
Bilangan asli       : 1200.0
Dalam bentuk integer: 1200
Dalam bentuk string : '1200.0'
Hasil pembulatan (2 digit): 1200.0

Penugasan 6, Operator Relasional

In [15]:
bil1 = float(input("Masukkan bilangan pertama: "))
bil2 = float(input("Masukkan bilangan kedua: "))

print("\n===== Hasil Perbandingan =====")
print(f"{bil1} == {bil2} → {bil1 == bil2}")
print(f"{bil1} != {bil2} → {bil1 != bil2}")
print(f"{bil1} <  {bil2} → {bil1 < bil2}")
print(f"{bil1} >  {bil2} → {bil1 > bil2}")
print(f"{bil1} <= {bil2} → {bil1 <= bil2}")
print(f"{bil1} >= {bil2} → {bil1 >= bil2}")

Masukkan bilangan pertama: 40
Masukkan bilangan kedua: 20

===== Hasil Perbandingan =====
40.0 == 20.0 → False
40.0 != 20.0 → True
40.0 <  20.0 → False
40.0 >  20.0 → True
40.0 <= 20.0 → False
40.0 >= 20.0 → True